* {
    background-color: #222 !important;
    color: #ab3 !important;
    
}

h1, h2{
    color: #ddd !important;
}

.text-color-primary {
    color: #109 !important;
}

span {
    color: #109 !important;
}
