* {
    background-color: #b21 !important;
    color: #ab3 !important;
    
}

h1, h2{
    color: #ddd !important;
}

.text-color-primary {
    color: #109 !important;
}

span {
    color: #109 !important;
}

.I-Play-MLB {
    width: 80rem;
    height: 100vh;

    color: #0f0;
    background-color: #333;

    border: 100px solid #fff;
}

.inner-MLB {
    background-color: #000  !important
}

.inner-inner-MLB{
    background-color: #ddd !important
}

.inner-inner-Game{
    background-color: #088 !important
}

.img-brawlhalla {
    height: 400px;
    width: auto;

    background-image: url('/portfolio/images/brawlhalla.jpeg');
}